*.pickle
mdd_downloads/Minglewood,_Inc._-_01010000427_Milk_Sample_Report_25.csv
files_to_data_bricks/Burnett/20260427_Minglewood,_Inc._Milk_Sample_Report_25.csv
files_to_data_bricks/Ellsworth/20260427_Dugan_Valley_Dairy_Milk_Sample_Report_28.csv
files_to_data_bricks/Burnett/20260427_Minglewood,_Inc._-_01010000427_Milk_Sample_Report_25.csv
.env
/files_to_data_bricks
/files_to_data_bricks
